<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>
    <uses-feature android:name="android.software.picture_in_picture" android:required="false"/>

    <application
        android:allowBackup="true"
        android:label="SecondScreenMVP"
        android:supportsRtl="true"
        android:theme="@style/Theme.SecondScreenMVP">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:supportsPictureInPicture="true"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".ExternalPlayerActivity"
            android:exported="false"
            android:label="副屏投放"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation"/>
    </application>
</manifest>
